body {
  position: absolute;
  font-family: "Arial", Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
  left: 0px;
  top:0px;
}

#V7Warn {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}


.V7WarnContainer {
  width: 80vw;
  height: 80vh;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #383838;
	opacity:0.7;
  transform: translate(-50%, -50%);
  border-style:solid;
	border-width:3px;
	border-color:black;
  margin:0px;
  padding: 0px;
}

.V7WarnHeader {
  width: 100%;
  height:3%;
  margin: 0px;
  padding: 0px;
  background-color: #2ca5ff;
  margin:0px;
  padding: 0px;
}

.V7WarnBody {
  display: flex;
  flex-wrap: wrap;
  height: 97%;
  width:100%;
  margin:0px;
  padding: 0px;
}

.LeftNav {
  display: inline;
  width: 15%;
  height: 100%;
  margin:0px;
  padding:0px;
}

.CenterBox {
  display: inline;
  width: 65%;
  height: 100%;
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  border-left: solid 0.5vh;
  border-right: solid 0.5vh;
}

.RightNav {
  display: inline;
  width: 20%;
  height: 100%;
  margin:0px;
  padding:0px;
}

.BoxHeader {
  display: inline-block;
  width:100%;
  height:5%;
  background-color: black;
  padding: 0px;
  margin: 0px;
}

.BoxHeader p {
  color: white;
  font-size: 2vh;
  margin: 0px;
  padding: 0px;
  margin-top: 0.7vh;
}
